<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer>    </script>
  <link rel="icon" href="/images/16x16.png" type="image/png">
  <title>Reset Password</title>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <link href="/stylesheets/signin.css" rel="stylesheet">
</head>


<body class="text-center">

  <main class="form-signin">
    <form method="post" action="/email-send">
      <img class="mb-4" src="/images/72x72.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Reset Password</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com"
          required>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="container form-floating d-flex justify-content-center">
        <div class="g-recaptcha" data-sitekey="<%= dataSiteKey %>"></div>
        <br>
      </div>
      <button class="w-100 btn btn-lg btn-primary mt-3" type="submit" name="Reset">Reset</button><br><br>

      <!-- <a href="/change-password">Reset Password</a> -->
      <a href="/logout" class="text-decoration-none">Back to Login Page </a>
      <% if (error) { %>
        <div class="alert alert-danger alert-dismissible fade show d-print-flex " role="alert">
          <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
    </form>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>